$dark-bg: #121212;
$dark-surface: #121212;

$dark-primary: #75ee56bd;
$dark-primary-variant: #121212;
$dark-secondary: #121212;

$dark-text-onbg: #121212;
$dark-text-onsf: #121212;
$dark-text-onpri: #121212;
$dark-text-onsec: #121212;

$light-bg: #121212;
$light-sf: #121212;

$light-primary: #ffffff;
$dark-primary-variant: #121212;
$light-secondary: #ffffff;

$light-text-onbg: #121212;
$light-text-onsf: #121212;
$light-text-onpri: #121212;
$light-text-onsec: #121212;
