$dark-bg: #121212;
$dark-surface: #121212;

$dark-primary: #74ee56bd;
$dark-primary-variant: #183a0d;
$dark-secondary: #2f1818;
$dark-accent: #d44065;

$dark-text-onbg: #12260d;
$dark-text-onsf: #060606;
$dark-text-onpri: #fff;
$dark-text-onsec: #121212;

$light-bg: #e9f5e5;
$light-sf: #121212;

$light-primary: #76ee58;
$dark-primary-variant: #d0f2c5;
$light-secondary: #f3d0fb;
$dark-accent: #bf2b50;

$light-text-onbg: #121212;
$light-text-onsf: #121212;
$light-text-onpri: #121212;
$light-text-onsec: #121212;
