:root {
  font-family: Poppins, sans-serif;

  color-scheme: light dark;
  background-color: #151515;

  line-height: 1.5;
  scroll-behavior: smooth;
}

/* Font Options
: Roboto
: Poppins
: Ubuntu
: Rubik
*/

@font-face {
  font-family: Poppins;
  src: url("../assets/font/Poppins/Poppins-Medium.ttf");
}
